<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div class="container">
    <form action="/members/new" method="post">      <!-- submit이 실행되면 action url로 post 방식으로 데이터가 넘어감, 해당 url에 해당하는 @PostMapping이 catch함-->
        <div class="form-group">
            <label for="name">이름</label>
            <input type="text" id="name" name="name" placeholder="이름을 입력하세요">   <!-- input의 name은 서버로 넘어갈때의 key 값"-->
        </div>
        <button type="submit">등록</button>
    </form>
</div> <!-- /container -->
</body>
</html>